{% extends "base.html" %}

{% block page_content %}

<h2>People</h2>
<a href="/person" class="btn btn-success float-right">Add New Person</a>

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Edit | Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for person in value %}
    <tr>
        <th scope="row">{{person.id}}</th>
        <td>{{person.first_name}}</td>
        <td>{{person.last_name}}</td>
        <td>
            <a href="/person_update/{{person.id}}" class="btn btn-warning btn-xs">Edit</a>
            <a href="/person_delete/{{person.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
        </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock %}